{% include head.html %}
<body>
    <nav class="navbar navbar-expand-lg nav">
            <div class="logo">
                <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">cyber@CIT</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-right flex-grow-1 w-100" id="navbarNav">
                
                    <ul class="navlinks navbar-nav ms-auto flex-nowrap">
                        <li class="nav-item"><a class="nav-link menu-item" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link menu-item" href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">About</a></li>
                        <li class="nav-item"><a class="nav-link menu-item" href="{{ "/announcements" | prepend: site.baseurl | replace: '//', '/' }}">Announcements</a></li>
                        <li class="nav-item"><a class="nav-link menu-item" href="{{ "/resources" | prepend: site.baseurl | replace: '//', '/' }}"">Resources</a></li>
                        <li class="nav-item"><a class="nav-link menu-item" href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}">Contact</a></li>
                    </ul>
               
            </div>
        
    </nav>
