{% include head.html %}
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">cyber@cFREG</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">Home</a></li>
                    <li><a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">About</a></li>
                    <li><a href="{{ "/events" | prepend: site.baseurl | replace: '//', '/' }}">Events</a></li>
                    <li><a href="{{ "/resources" | prepend: site.baseurl | replace: '//', '/' }}"">Resources</a></li>
                    <li><a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}">Contact</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
<div class="parallax">
    <a id="section1" href="#info"><span></span>Scroll</a>
</div>
<div id="site-content">
    <div class="info" style="margin-left: 20em;margin-right: 20em;">
        <center><p class="header">{{ page.title }}<p></center>