<!DOCTYPE html>
<html>
{% include header.html %}
<div class="parallax" id="slider">
    <figure>
        <img src="/images/UNH_CPTC.jpg">
        <img src="/images/maxcy-hall.png">
        <img src="/images/ct-cyber.jpeg">
        <img src="/images/maxcy-hall.png">
        <img src="/images/UNH_CPTC.jpg">
    </figure>
</div>
<div id="site-content">
<div class="container">
<div class="info" style="margin-left: 5em;margin-right: 5em;" />
        <!-- <center><p class="header">{{ page.title }}<p></center> -->
{{ content }}

{% include footer.html %}
